/*page rules*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;

}


/*header*/
header {
    width: 100%;
    height: 80px;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header section*/
.header-section {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/*header left*/
.header-left {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.header-left a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*header center*/
.header-logo {
    height: 60px;
}

/*header right*/
.header-right {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.header-right a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}


/*product page*/
main {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.product-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    position: relative;
}

.product img {
    width: 100%;
}

.show {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
}

.product:hover .show {
    display: block;
}

.label-sustenaibility {
    font-size: 15px;
    padding: 5px;
    background-color: green;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.label-sustenaibility2 {
    left: 0px;
}

.label-discount {
    font-size: 15px;
    padding: 5px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0px;
}

.label-favourite {
    font-size: larger;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 5px;
    background-color: white;
}

.label-favourite:hover {
    color: red;
}

main h2 {
    font-size: small;
    font-weight: lighter;
}

main h1 {
    font-size: medium;
    font-weight: bolder;
}

.price {
    font-size: small;
    font-weight: bold;
    color: red;
}

.old-price {
    font-size: small;
    color: black;
    text-decoration: line-through;
    padding-left: 5px;
}


/*footer*/
footer {
    width: 100%;
    height: 100px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/*footer left*/
.footer-left {
    width: 30%;
}

.footer-left p {
    font-size: large;
    color: white;
    font-weight: bold;
}

.footer-left a {
    font-size: small;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

/*footer right*/
.footer-right {
    width: 30%;
    text-align: right;
}

.footer-right p {
    font-size: small;
    color: white;
    font-weight: bold;
    padding-right: 15px;
    padding-bottom: 5px;
}

.footer-right a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}