/*page rules*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;

}


/*header*/
header {
    width: 100%;
    height: 80px;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header section*/
.header-section {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/*header left*/
.header-left {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.header-left a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*header center*/
.header-logo {
    height: 60px;
}

/*header right*/
.header-right {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.header-right a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}


/*product page*/
main {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.product-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 30%;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
}